.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.saaSFuturisticApp {
  background: rgba(10, 0, 32, 1);
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.navbarLogoLeft {
  background: rgba(10, 0, 32, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}
.navbarContainer {
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.navbarContent {
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.navbarContent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 625px);
  width: calc(100% + 625px);
}
.navbarContent > :global(.__wab_flex-container) > *,
.navbarContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navbarContent > :global(.__wab_flex-container) > picture > img,
.navbarContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 625px;
}
.navbarBrand {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoWrapper {
  width: 138px;
  height: 22px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.logoWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.logoWrapper > :global(.__wab_flex-container) > *,
.logoWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoWrapper > :global(.__wab_flex-container) > picture > img,
.logoWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.logo {
  width: 138px;
  height: 22px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.valtflowIcon {
  background: url("/plasmic/website_starter/images/valtflowIcon.png") center center / cover no-repeat;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  flex-direction: row;
}
.valtflowIcon > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.valtflowIcon > :global(.__wab_flex-container) > *,
.valtflowIcon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.valtflowIcon > :global(.__wab_flex-container) > picture > img,
.valtflowIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__nGzb4 {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1;
  color: rgba(235, 235, 235, 1);
  position: absolute;
  top: 0px;
  left: 32px;
}
.navbarMenu {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
}
.navbarMenu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.navbarMenu > :global(.__wab_flex-container) > *,
.navbarMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navbarMenu > :global(.__wab_flex-container) > picture > img,
.navbarMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.navbarLink {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 12px;
}
.text__f7Amz {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.navbarLink2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 12px;
}
.text__qiPb0 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.navbarLink3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 12px;
}
.text__rgyE {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.navbarLink4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 12px;
}
.text__mMO {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.buttonPrimary {
  background: rgba(235, 235, 235, 1);
  box-shadow: 0px 0px 0px 1px rgba(235, 235, 235, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 50px;
  padding: 8px 20px;
}
.buttonPrimary > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonPrimary > :global(.__wab_flex-container) > *,
.buttonPrimary > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonPrimary > :global(.__wab_flex-container) > picture > img,
.buttonPrimary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__kEpLp {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(10, 7, 27, 1);
  position: relative;
}
.buttonSecondary {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 50px;
  padding: 8px 20px;
}
.buttonSecondary > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonSecondary > :global(.__wab_flex-container) > *,
.buttonSecondary > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonSecondary > :global(.__wab_flex-container) > picture > img,
.buttonSecondary
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__nFft3 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.heroStack {
  background: url("/plasmic/website_starter/images/heroStack.jpg") center center / cover no-repeat;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: 170px 20px 80px;
}
.heroStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 80px);
  height: calc(100% + 80px);
}
.heroStack > :global(.__wab_flex-container) > *,
.heroStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heroStack > :global(.__wab_flex-container) > picture > img,
.heroStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 80px;
}
.smallContainer {
  width: 960px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.smallContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 80px);
  height: calc(100% + 80px);
}
.smallContainer > :global(.__wab_flex-container) > *,
.smallContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.smallContainer > :global(.__wab_flex-container) > picture > img,
.smallContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 80px;
}
.titleSection {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.titleSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.titleSection > :global(.__wab_flex-container) > *,
.titleSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleSection > :global(.__wab_flex-container) > picture > img,
.titleSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.pill {
  width: 418px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 61.908px;
  padding: 9.905px 19.81px;
}
.text__xcuKw {
  display: block;
  font-size: 17.334px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(241, 243, 247, 1);
  position: relative;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__zufVh {
  background: linear-gradient(
        173.75deg,
        rgba(235, 235, 235, 1) 19.88%,
        rgba(235, 235, 235, 0) 130.15%
      )
      0% 0% / 100% 100% no-repeat,
    rgba(0, 0, 0, 0);
  display: block;
  font-size: 80px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1;
  color: transparent;
  align-self: stretch;
  position: relative;
}
.paragraphWrapper {
  width: 600px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitSuspendisseVariusEnimInErosElementumTristique {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.6;
  color: rgba(235, 235, 235, 0.649);
  position: relative;
}
.actions {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 16px;
}
.actions > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.actions > :global(.__wab_flex-container) > *,
.actions > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actions > :global(.__wab_flex-container) > picture > img,
.actions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.buttonPrimary2 {
  background: rgba(235, 235, 235, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 60px;
  padding: 12px 24px;
}
.buttonPrimary2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonPrimary2 > :global(.__wab_flex-container) > *,
.buttonPrimary2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonPrimary2 > :global(.__wab_flex-container) > picture > img,
.buttonPrimary2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__o0NfK {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(10, 7, 27, 1);
  position: relative;
}
.buttonSecondary2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 12px 24px;
}
.text___3Ashx {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.imageWrapper {
  background: url("/plasmic/website_starter/images/imageWrapper.png") center center / cover no-repeat;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px -2px 20px rgba(186, 155, 255, 0.15))
    drop-shadow(0px -2px 5px rgba(233, 223, 255, 0.3));
  height: 472px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 24px;
}
.text__q1Uo1 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0);
  position: relative;
}
.logoTitle {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: 60px 20px;
}
.logoTitle > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.logoTitle > :global(.__wab_flex-container) > *,
.logoTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoTitle > :global(.__wab_flex-container) > picture > img,
.logoTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text__ixA4X {
  display: block;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.29999;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.logos {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.logos > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.logos > :global(.__wab_flex-container) > *,
.logos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logos > :global(.__wab_flex-container) > picture > img,
.logos > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 48px;
}
.logoWrapper2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg__s2Hsp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 62px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.logoWrapper3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg__lflPg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 87px;
  height: 17px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.logoWrapper4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg__z9ZoN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 67px;
  height: 21px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.logoWrapper5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg___4M7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 143px;
  height: 13px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.logoWrapper6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg__oyo5Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 80px;
  height: 24.269px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.logoWrapper7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoLattice {
  width: 120px;
  height: 23px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.page1 {
  transform: translate(0px, 0.004px);
  width: 120px;
  height: 23px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.slide {
  width: 120px;
  height: 23px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.logoFullWhite {
  width: 120px;
  height: 23px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__ouTot {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ceccd3;
  width: 38.176px;
  height: 22.796px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__aEOtk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.31099999999999994px, 0.32799999999999985px);
  width: 72.565px;
  height: 18.144px;
  display: block;
  top: 2px;
  left: 47px;
}
.logoWrapper8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg__bn5PQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 54.285px;
  height: 20px;
  display: block;
  flex-shrink: 0;
}
.section {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 80px);
  height: calc(100% + 80px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 80px;
}
.sectionTitle {
  background: url("/plasmic/website_starter/images/sectionTitle.png") center center / contain no-repeat;
  width: 470px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
}
.sectionTitle > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.sectionTitle > :global(.__wab_flex-container) > *,
.sectionTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionTitle > :global(.__wab_flex-container) > picture > img,
.sectionTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.titleWrapper {
  width: 450px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 10px;
}
.titleWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.titleWrapper > :global(.__wab_flex-container) > *,
.titleWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleWrapper > :global(.__wab_flex-container) > picture > img,
.titleWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.title {
  display: block;
  flex-grow: 1;
  font-size: 48px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 1.2;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.text__tUzbM {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.6;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.container {
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 80px);
  height: calc(100% + 80px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 80px;
}
._2Columns {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
._2Columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
._2Columns > :global(.__wab_flex-container) > *,
._2Columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._2Columns > :global(.__wab_flex-container) > picture > img,
._2Columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.column {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cardWrapper {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 99%
    )
    0% 0% / 100% 100% no-repeat;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px -2px 20px rgba(186, 155, 255, 0.15))
    drop-shadow(0px -2px 5px rgba(233, 223, 255, 0.3));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  border-radius: 20px;
  padding: 60px;
}
.cardWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cardWrapper > :global(.__wab_flex-container) > *,
.cardWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardWrapper > :global(.__wab_flex-container) > picture > img,
.cardWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconWrapper {
  box-shadow: 0px 0px 36.454px 0px rgba(88, 28, 220, 0.75);
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.iconImage {
  background: url("/plasmic/website_starter/images/iconImage.png") center center / cover no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.cardContent {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.cardContent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.cardContent > :global(.__wab_flex-container) > *,
.cardContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardContent > :global(.__wab_flex-container) > picture > img,
.cardContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__yxGxZ {
  display: block;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 1.29999;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.text {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.actions2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  padding-top: 16px;
}
.actions2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.actions2 > :global(.__wab_flex-container) > *,
.actions2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actions2 > :global(.__wab_flex-container) > picture > img,
.actions2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__nOVwx {
  display: block;
  font-size: 16px;
  text-decoration-line: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.column2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cardWrapper2 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 99%
    )
    0% 0% / 100% 100% no-repeat;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px -2px 20px rgba(186, 155, 255, 0.15))
    drop-shadow(0px -2px 5px rgba(233, 223, 255, 0.3));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  border-radius: 20px;
  padding: 60px;
}
.cardWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cardWrapper2 > :global(.__wab_flex-container) > *,
.cardWrapper2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardWrapper2 > :global(.__wab_flex-container) > picture > img,
.cardWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconWrapper2 {
  box-shadow: 0px 0px 36.454px 0px rgba(148, 36, 200, 0.75);
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.iconImage2 {
  background: url("/plasmic/website_starter/images/iconImage4.png") center center / cover no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.cardContent2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.cardContent2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.cardContent2 > :global(.__wab_flex-container) > *,
.cardContent2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardContent2 > :global(.__wab_flex-container) > picture > img,
.cardContent2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__bjogQ {
  display: block;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 1.29999;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.text2 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.actions3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 16px;
}
.actions3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.actions3 > :global(.__wab_flex-container) > *,
.actions3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actions3 > :global(.__wab_flex-container) > picture > img,
.actions3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.button2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button2 > :global(.__wab_flex-container) > *,
.button2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button2 > :global(.__wab_flex-container) > picture > img,
.button2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__ahiOe {
  display: block;
  font-size: 16px;
  text-decoration-line: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
._2Columns2 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 99%
    )
    0% 0% / 100% 100% no-repeat;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px -2px 20px rgba(186, 155, 255, 0.15))
    drop-shadow(0px -2px 5px rgba(233, 223, 255, 0.3));
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 20px;
  padding: 60px;
}
._2Columns2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
._2Columns2 > :global(.__wab_flex-container) > *,
._2Columns2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._2Columns2 > :global(.__wab_flex-container) > picture > img,
._2Columns2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.column3 {
  width: 460px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
}
.column3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column3 > :global(.__wab_flex-container) > *,
.column3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column3 > :global(.__wab_flex-container) > picture > img,
.column3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.iconWrapper3 {
  box-shadow: 0px 0px 36.454px 0px rgba(200, 36, 170, 0.75);
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.iconImage3 {
  background: url("/plasmic/website_starter/images/iconImage2.png") center center / cover no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.cardContent3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.cardContent3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.cardContent3 > :global(.__wab_flex-container) > *,
.cardContent3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardContent3 > :global(.__wab_flex-container) > picture > img,
.cardContent3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__cCdI0 {
  display: block;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.16px;
  line-height: 1.29999;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.text3 {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.actions4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 16px;
}
.actions4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.actions4 > :global(.__wab_flex-container) > *,
.actions4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.actions4 > :global(.__wab_flex-container) > picture > img,
.actions4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text___0B3Gl {
  display: block;
  font-size: 16px;
  text-decoration-line: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.column4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.imageWrapper2 {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px -2px 40px 0px rgba(186, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3),
    inset 0px 0.583px 0px 0px rgba(255, 255, 255, 0.5),
    inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5);
  width: 467px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
}
.image {
  background: url("/plasmic/website_starter/images/image9.png") center center / cover no-repeat;
  width: 467px;
  height: 300px;
  display: block;
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
}
.heroNoImage {
  background: rgba(10, 0, 32, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 20px;
}
.container2 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 99%
    )
    0% 0% / 100% 100% no-repeat;
  box-shadow: inset 0px 0.5px 0px 0px rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px -2px 20px rgba(186, 155, 255, 0.15))
    drop-shadow(0px -2px 5px rgba(233, 223, 255, 0.3));
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  padding: 60px;
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.content3 {
  width: 768px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.content3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content3 > :global(.__wab_flex-container) > *,
.content3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content3 > :global(.__wab_flex-container) > picture > img,
.content3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.ourPowerfulAnalyticsProvidesInvaluableInsights {
  display: block;
  font-size: 48px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.unlockThePowerOfDataWithOurCuttingEdgeAnalyticsProductGetInstantInsightsWithOurUserFriendlyAnalyticsDashboardAndTakeAdvantageOfOurInnovativeDigitalCreditTokensToRewardYourCustomersAndIncentivizeEngagement {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  align-self: stretch;
  position: relative;
}
.button3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 12px 24px;
}
.text__t6AvW {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(235, 235, 235, 1);
  position: relative;
}
.footer {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 64px 20px;
}
.container3 {
  width: 1200px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
}
._3Columns {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
._3Columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
._3Columns > :global(.__wab_flex-container) > *,
._3Columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._3Columns > :global(.__wab_flex-container) > picture > img,
._3Columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.column5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.column5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column5 > :global(.__wab_flex-container) > *,
.column5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column5 > :global(.__wab_flex-container) > picture > img,
.column5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.footerLinksWrapper {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.footerLinksWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.footerLinksWrapper > :global(.__wab_flex-container) > *,
.footerLinksWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerLinksWrapper > :global(.__wab_flex-container) > picture > img,
.footerLinksWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__sa8O {
  display: block;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.footerLinks {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.footerLinks > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.footerLinks > :global(.__wab_flex-container) > *,
.footerLinks > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerLinks > :global(.__wab_flex-container) > picture > img,
.footerLinks
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text__kHwZ {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text__us4Lf {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.text___9F4A {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.footerLinksWrapper2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.footerLinksWrapper2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.footerLinksWrapper2 > :global(.__wab_flex-container) > *,
.footerLinksWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.footerLinksWrapper2 > :global(.__wab_flex-container) > picture > img,
.footerLinksWrapper2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fwchP {
  display: block;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__oUt9I {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__xIidz {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(146, 146, 146, 1);
  position: relative;
}
.column6 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.column6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column6 > :global(.__wab_flex-container) > *,
.column6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column6 > :global(.__wab_flex-container) > picture > img,
.column6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.footerLinksWrapper3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.footerLinksWrapper3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.footerLinksWrapper3 > :global(.__wab_flex-container) > *,
.footerLinksWrapper3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.footerLinksWrapper3 > :global(.__wab_flex-container) > picture > img,
.footerLinksWrapper3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__fSgn1 {
  display: block;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.addressWrapper {
  width: 210px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text__p9AIp {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.footerLinksWrapper4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.footerLinksWrapper4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.footerLinksWrapper4 > :global(.__wab_flex-container) > *,
.footerLinksWrapper4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.footerLinksWrapper4 > :global(.__wab_flex-container) > picture > img,
.footerLinksWrapper4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__geMcU {
  display: block;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.socials {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.socials > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.socials > :global(.__wab_flex-container) > *,
.socials > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.socials > :global(.__wab_flex-container) > picture > img,
.socials
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text__jNsgy {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__zb0L {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__jBjwM {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.termsWrapper {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.termsWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 19px);
  width: calc(100% + 19px);
}
.termsWrapper > :global(.__wab_flex-container) > *,
.termsWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.termsWrapper > :global(.__wab_flex-container) > picture > img,
.termsWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 19px;
}
.text__kYsgz {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(146, 146, 146, 1);
  position: relative;
}
.text__iPTrI {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(146, 146, 146, 1);
  position: relative;
}
.column7 {
  width: 180px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-shrink: 0;
}
.logoWrapper9 {
  width: 138px;
  height: 22px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.logoWrapper9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.logoWrapper9 > :global(.__wab_flex-container) > *,
.logoWrapper9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoWrapper9 > :global(.__wab_flex-container) > picture > img,
.logoWrapper9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.logo9 {
  width: 138px;
  height: 22px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.valtflowIcon2 {
  background: url("/plasmic/website_starter/images/valtflowIcon.png") center center / cover no-repeat;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  flex-direction: row;
}
.valtflowIcon2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.valtflowIcon2 > :global(.__wab_flex-container) > *,
.valtflowIcon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.valtflowIcon2 > :global(.__wab_flex-container) > picture > img,
.valtflowIcon2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__omP9J {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1;
  color: rgba(235, 235, 235, 1);
  position: absolute;
  top: 0px;
  left: 32px;
}
